@keyframes moveNode {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    25% {
        opacity: 0.8;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        transform: var(--target-transform);
        opacity: 1;
    }
}

.animate-move {
    animation: moveNode 1s forwards;
    position: relative;
    z-index: 10;
}

@keyframes moveRightDown {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(50px, 30px);
    }
    100% {
        transform: translate(100px, 60px);
    }
}

@keyframes moveLeftUp {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-50px, -30px);
    }
    100% {
        transform: translate(-100px, -60px);
    }
}

.rotate-right-down {
    animation: moveRightDown 1s ease-in-out forwards;
}

.rotate-left-up {
    animation: moveLeftUp 1s ease-in-out forwards;
}