@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Instrument+Serif:ital@0;1&family=Lusitana:wght@400;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";
:root {
    --bg: #ffffff;
    --text: #000000;
    --card: #f8fafc;
    --border: #e5e7eb;
    --accent: #16a34a;
    --bg2: #2a4b27;
    --code: #000000;
    --codetext: #ffffff;
    /* green */
}

html[data-theme='dark'] {
    --bg: #000000;
    --text: #e5e7eb;
    --card: #000000;
    --border: #203b1e;
    --accent: #093d1c;
    --bg2: #2a4b27;
    --code: #000000;
}

.navbar {
    background-color: var(--bg);
    color: var(--text);
    border-color: var(--border);
}

body {
    background: var(--bg);
    color: var(--text);
    width: 100%;
    height: 100vh;
}

.array-bar {
    transition: transform 0.3s ease;
}

.page {
    animation: fadeIn 0.6s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.float {
    animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}