@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Instrument+Serif:ital@0;1&family=Lusitana:wght@400;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-family-base: 'Google Sans Flex', 'Instrument Serif', 'Lusitana', sans-serif;
}

@media (prefers-color-scheme: light) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        color: rgb(red, rgb(0, 12, 1), blue);
    }
}

body {
    background: var(--foreground);
    color: var(--background);
    font-family: 'Google Sans Flex', 'Instrument Serif', 'Lusitana', sans-serif;
    width: 100%;
    height: 100vh;
}