.cell {
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridd {
    display: grid;
    grid-template-rows: repeat(17, 1fr);
    gap: 0px;
    width: 70%;
    height: 100%;
    padding: 0;
}

.row {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    gap: 0px;
}

.wall {
    background-color: rgb(255, 102, 102);
}

.path {
    background-color: rgb(117, 14, 14) !important;
}

.visited {
    background-color: rgb(14, 117, 117);
}

.start {
    background-color: rgb(14, 117, 14);
}

.end {
    background-color: rgb(14, 14, 117);
}

.parameters {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}