.cell {
    border: 1px solid #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridd {
    display: grid;
    grid-template-rows: repeat(17, 1fr);
    gap: 0px;
    width: 70%;
    height: 100%;
    padding: 0;
}

.row {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    gap: 0px;
}

.wall {
    background-color: rgb(0, 0, 0);
}

.path {
    background-color: rgb(14, 233, 44) !important;
}

.visited {
    background-color: rgb(66, 160, 89);
}

.start {
    background-color: #1eee07;
}

.end {
    background-color: rgb(117, 14, 14);
}

.parameters {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.parameters {
    transition: all 0.3s ease-in-out;
}

.parameters.hidden {
    transform: translateX(100%);
    opacity: 0;
}

.walltext {
    animation: translateY 1.5s ease-in-out infinite;
}

@keyframes translateY {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}